<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>

	<h1>cart!</h1>
<center>
	<img src="static/b.jpg" width="200"><br>Butterfly ring 7$<br><button>Remove this from cart</button><br>
<img src="static/h.jpg" width="200"><br>Tear drop ring 5$<br><button>Remove this from cart</button><br><br><br>
<img src="static/j.jpg" width="200"><br> Heart rate ring 5$<br><button>Remove this from cart</button><br><br><br>
</center>
<a href="http://127.0.0.1:5000/">Continue shopping</a><br>
<a href="">Checkout</a>

</body>
</html>