<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<h1>Tal's rings shop <3</h1>
<h2>Hello and welcome to my rings shop!<br>
Here you can buy beautiful 925 silver rings in cheap prices!</h2><br><br><br><br>
<img src="static/moon.jpg" width="200" > <a href = "http://127.0.0.1:5000/product1">
Moon and sun rings</a><br> 
<img src="static/b.jpg" width="200">Butterfly ring<br>
<img src="static/h.jpg" width="200">Tear drop ring<br><br><br>
<img src="static/j.jpg" width="200"> Heart rate ring<br><br><br>
<a href="http://127.0.0.1:5000/cart">Go to cart</a>
</body>
</html>